<div class="container bookflex" *ngFor="let product of products">
    <img *ngIf="product.image" src={{product.image}}>
        

    <div class="bookdescrip">
        <h2>
            {{ product.name }}
        </h2>
        <p>{{ product.details }}</p>
        <div class="price">
            <p>${{ product.price }}</p>

            <select class="select" (change)="selectAmount(product = {{product}}, $event.target.value)">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
</div>